#include <physical_layouts.dtsi>

/ {
    physical_layout_manuform_5x6: physical_layout_manuform_5x6 {
        compatible = "zmk,physical-layout";
        display-name = "manuform_5x6";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   75       0     0     0>
            , <&key_physical_attrs 100 100  100   75       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100 1125   25       0     0     0>
            , <&key_physical_attrs 100 100 1225   25       0     0     0>
            , <&key_physical_attrs 100 100 1325   25       0     0     0>
            , <&key_physical_attrs 100 100 1425   50       0     0     0>
            , <&key_physical_attrs 100 100 1525   75       0     0     0>
            , <&key_physical_attrs 100 100 1625   75       0     0     0>
            , <&key_physical_attrs 100 100    0  175       0     0     0>
            , <&key_physical_attrs 100 100  100  175       0     0     0>
            , <&key_physical_attrs 100 100  200  150       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100 1125  125       0     0     0>
            , <&key_physical_attrs 100 100 1225  125       0     0     0>
            , <&key_physical_attrs 100 100 1325  125       0     0     0>
            , <&key_physical_attrs 100 100 1425  150       0     0     0>
            , <&key_physical_attrs 100 100 1525  175       0     0     0>
            , <&key_physical_attrs 100 100 1625  175       0     0     0>
            , <&key_physical_attrs 100 100    0  275       0     0     0>
            , <&key_physical_attrs 100 100  100  275       0     0     0>
            , <&key_physical_attrs 100 100  200  250       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100 1125  225       0     0     0>
            , <&key_physical_attrs 100 100 1225  225       0     0     0>
            , <&key_physical_attrs 100 100 1325  225       0     0     0>
            , <&key_physical_attrs 100 100 1425  250       0     0     0>
            , <&key_physical_attrs 100 100 1525  275       0     0     0>
            , <&key_physical_attrs 100 100 1625  275       0     0     0>
            , <&key_physical_attrs 100 100    0  375       0     0     0>
            , <&key_physical_attrs 100 100  100  375       0     0     0>
            , <&key_physical_attrs 100 100  200  350       0     0     0>
            , <&key_physical_attrs 100 100  300  325       0     0     0>
            , <&key_physical_attrs 100 100  400  325       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100 1125  325       0     0     0>
            , <&key_physical_attrs 100 100 1225  325       0     0     0>
            , <&key_physical_attrs 100 100 1325  325       0     0     0>
            , <&key_physical_attrs 100 100 1425  350       0     0     0>
            , <&key_physical_attrs 100 100 1525  375       0     0     0>
            , <&key_physical_attrs 100 100 1625  375       0     0     0>
            , <&key_physical_attrs 100 100  200  450       0     0     0>
            , <&key_physical_attrs 100 100  300  425       0     0     0>
            , <&key_physical_attrs 100 250  575  200    2500     0     0>
            , <&key_physical_attrs 100 150  675  200    2500     0     0>
            , <&key_physical_attrs 100 150  775  925 (-2500)     0     0>
            , <&key_physical_attrs 100 250  875  925 (-2500)     0     0>
            , <&key_physical_attrs 100 100 1325  425       0     0     0>
            , <&key_physical_attrs 100 100 1425  450       0     0     0>
            , <&key_physical_attrs 100 100  150  950 (-2500)     0     0>
            , <&key_physical_attrs 100 100  250  950 (-2500)     0     0>
            , <&key_physical_attrs 100 100  150  825 (-2500)     0     0>
            , <&key_physical_attrs 100 100  200  850 (-3000)     0     0>
            , <&key_physical_attrs 100 100 1175    0    3000     0     0>
            , <&key_physical_attrs 100 100 1300  100    2500     0     0>
            , <&key_physical_attrs 100 100 1200  225    2500     0     0>
            , <&key_physical_attrs 100 100 1300  225    2500     0     0>
            ;
    };
};
